* {
    margin: 0;
    padding: 0;
    
  }
  
 input:focus{
    background-color: #fae5ad;

 }

 html{
    width: 750px; height: 750px;
    background-color: black;

 }

 body{
    width: 375px; height: 375px;
    margin: auto; background-color: rgb(170, 19, 87);
    padding: 30px;
 }